html {
	min-height: 100%;
	overflow: auto;
}

body {
	font-family: 'Neuton', serif;
	background-color: whitesmoke;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

div {
	padding: 20px;
	margin: 20px auto;
	width: 100vw;
	text-align: center;
}

svg {
    display: block;
    margin: 0;
}

img {
	max-width:80%;
	height:auto;
}

/* Label styling */
label {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	display: block;
	margin-bottom: 10px;
}

/* Dropdown styling */
select {
	font-size: 16px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	background-color: #f9f9f9;
	transition: all 0.3s ease;
}

select:hover, select:focus {
	border-color: #666;
	background-color: #f1f1f1;
}

.step {
	background-color: white;
	border-color: black;
	border-width: thick;
	color: #333;
}

.header {
	width: 100vw;
	height: 100vh;   
	margin: 0px auto 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section {
	background-color: antiquewhite;
	border-radius: 10%;
	border-color: black;
	border-width: thick;
	color: #333;
}

#news-desk-description {
	font-size: 28px;
	background-color: lightblue;
	opacity: 80%;
	white-space: normal;
	overflow: visible;
	text-overflow: initial;
}

#header-title {
	font-size: 48px;
	color: #5a4a4a;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	font-weight: 800;
	letter-spacing: 2px;
	font-style: italic;
	text-align: center;
}

.description {
	font-size: 28px;
	text-align: left;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 40px;
}

/* Graph container styling */

#line-graph {
	height: auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: #999;
}

#word-cloud {
	height: auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: #999;
}

/* Heatmap styling */
#heatmap {
	height: auto;
	width: 100%;
	margin: 20px auto;
}

/* Created By Section Styling */
#created-by-text {
	font-size: 20px;
	color: #666;
	padding-top: 30px;
}

.team {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.team-member img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #ccc;
	margin-bottom: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer Styling */
footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	bottom: 0;
	width: 100%;
}


.bar {
	stroke: #ffffff;
	stroke-width: 1px;
}

.x-axis path, .y-axis path {
	display: none;
}

.x-axis line, .y-axis line {
	stroke: #ccc;
	stroke-dasharray: 2 2;
}

/* Sidebar Styling */
.sidebar {
	position: fixed;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 200px;
	background-color: #1e2022;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgb(30, 32, 34);
	font-family: 'Neuton', serif;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sidebar h4 {
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 20px;
}

.sidebar label {
	font-size: 14px;
	margin-bottom: 10px;
	display: block;
	color: #ffffff;
}

.sidebar select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

.container {
	margin-left: 70px;
	padding: 20px;
}


/* Typewriter effects, code adapted from:
https://css-tricks.com/snippets/css/typewriter-effect/
*/

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

#typewriter-title {
	color: black;
	font-family: Rubrik;
	font-size: 48px;
	text-align: center;
}

.line-1 {
	position: absolute;
	width: 16em;
	margin: 0 auto;
	border-right: 2px solid rgba(255,255,255,.75);
	font-size: 180%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}

.anim-typewriter {
	animation: typewriter 5s steps(30) 1s 1 normal both,
				blinkTextCursor 600ms steps(30) infinite normal;
}
@keyframes typewriter {
	from { width: 0; }
	to { width: 16em; }
}
@keyframes blinkTextCursor {
	from { border-right-color: rgba(0, 0, 0, 0.75); }
	to { border-right-color: transparent; }
}
